[package]
name = "{{project_slug}}"
version = "0.1.0"
edition = "2021"
authors = [ "{{author_name}} <{{author_email}}>" ]
description = "{{description}}"
license = "{{license}}"
homepage = "{{github_url}}"
repository = "{{github_url}}"
readme = "README.md"
keywords = [ "keywords", "here" ]
categories = [ "command-line-utilities" ]

# TODO: Remove when ready
publish = false

{% if project_type == 'binary' -%}
[[bin]]
name = "{{binary_name}}"
path = "src/main.rs"
{%- endif %}

[dependencies]
