[package]
name = "{{project_slug}}"
version = "0.1.0"
edition = "2021"
authors = [ "{{author_name}} <{{author_email}}>" ]
description = "{{description}}"
license = "{{license}}"
homepage = "{{github_url}}"
repository = "{{github_url}}"
readme = "README.md"

[dependencies]
