# {{project_name}}

[![License](https://img.shields.io/github/license/{{github_username}}/{{project_slug}})](https://github.com/{{github_username}}/{{project_slug}})
[![GitHub](https://img.shields.io/github/v/release/{{github_username}}/{{project_slug}}?logo=github&sort=semver)](https://github.com/{{github_username}}/{{project_slug}})
[![CI](https://github.com/{{github_username}}/{{project_slug}}/workflows/CI/badge.svg)](https://github.com/{{github_username}}/{{project_slug}}/actions?query=workflow%3ACI)

{{description}}

* Free software: {{license}}

## Project Description

## Installation

## Quickstart

### Credits

This package was created with [copier] and the [FollowTheProcess/rust_copier] project template.

[copier]: https://copier.readthedocs.io/en/stable/
[FollowTheProcess/rust_copier]: https://github.com/FollowTheProcess/rust_copier
