name: CI

on:
  pull_request:
  push:
    branches:
      - main
    tags:
      - v*

concurrency:
  group: {% raw %}${{ github.ref }}{% endraw %}
  cancel-in-progress: true

env:
  RUSTFLAGS: --deny warnings

permissions: read-all

jobs:
  check:
    name: Check
    runs-on: ubuntu-latest

    steps:
      - name: Set up Rust
        uses: dtolnay/rust-toolchain@stable

      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Cargo Check
        run: cargo check

  test:
    name: Test
    runs-on: {% raw %}${{ matrix.os }}{% endraw %}
    strategy:
      matrix:
        os:
          - ubuntu-latest
          - macos-latest
          - windows-latest

    steps:
      - name: Set up Rust
        uses: dtolnay/rust-toolchain@stable

      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Run Tests
        run: cargo test

  lint:
    name: Lint
    runs-on: ubuntu-latest

    steps:
      - name: Set up Rust
        uses: dtolnay/rust-toolchain@stable
        with:
          components: clippy, rustfmt

      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Check Formatting
        run: cargo fmt --all -- --check

      - name: Run Linting
        run: cargo clippy --all-targets --all-features

  release:
    name: GitHub Release
    runs-on: ubuntu-latest
    needs:
      - check
      - test
      - lint

    permissions:
      contents: write

    if: github.event_name == 'push' && contains(github.ref, 'refs/tags/')

    steps:
      - name: Make GitHub Release
        id: create_release
        uses: softprops/action-gh-release@v1
        with:
          files: {{project_slug}}-*/{{project_slug}}-*

      - name: Publish Draft Release
        uses: eregon/publish-release@v1
        env:
          GITHUB_TOKEN: {% raw %}${{ secrets.GITHUB_TOKEN }}{% endraw %}
        with:
          release_id: {% raw %}${{ steps.create_release.outputs.id }}{% endraw %}

  cargo_publish:
    name: Publish Package
    runs-on: ubuntu-latest
    needs:
      - check
      - test
      - lint

    if: github.event_name == 'push' && contains(github.ref, 'refs/tags/')

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Set up Rust
        uses: dtolnay/rust-toolchain@stable

      - name: Publish
        run: cargo publish --token {% raw %}${{ secrets.CARGO_TOKEN }}{% endraw %}
