name: CI

on:
  pull_request:
  push:
    branches:
      - main
    tags:
      - v*

concurrency:
  group: {% raw %}${{ github.ref }}{% endraw %}
  cancel-in-progress: true

env:
  RUSTFLAGS: --deny warnings

permissions: read-all

jobs:
  check:
    name: Check
    runs-on: ubuntu-latest

    steps:
      - name: Set up Rust
        uses: dtolnay/rust-toolchain@stable

      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Cargo Check
        run: cargo check --locked

  test:
    name: Test
    runs-on: {% raw %}${{ matrix.os }}{% endraw %}
    strategy:
      matrix:
        os:
          - ubuntu-latest
          - macos-latest
          - windows-latest

    steps:
      - name: Set up Rust
        uses: dtolnay/rust-toolchain@stable

      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Run Tests
        run: cargo test

  lint:
    name: Lint
    runs-on: ubuntu-latest

    steps:
      - name: Set up Rust
        uses: dtolnay/rust-toolchain@stable
        with:
          components: clippy, rustfmt

      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Check Formatting
        run: cargo fmt --all -- --check

      - name: Run Linting
        run: cargo clippy --all-targets --all-features

  version:
    name: Parse Release Version
    runs-on: ubuntu-latest
    outputs:
      version: {% raw %}${{ steps.version.outputs.version }}{% endraw %}

    if: github.event_name == 'push' && contains(github.ref, 'refs/tags/')

    steps:
      - name: Set Version Number
        id: version
        run: |
          VERSION=${GITHUB_REF#refs/tags/v}
          echo "version=$VERSION" >> $GITHUB_OUTPUT

  build:
    name: Build Release Binaries
    runs-on: {% raw %}${{ matrix.os }}{% endraw %}
    needs:
      - check
      - test
      - lint
      - version

    if: github.event_name == 'push' && contains(github.ref, 'refs/tags/')

    strategy:
      matrix:
        include:
          - target: x86_64-unknown-linux-gnu
            os: ubuntu-latest
            platform: linux
            arch: x86_64
            name: {{binary_name}}

          - target: x86_64-apple-darwin
            os: macos-latest
            platform: macos
            arch: x86_64
            name: {{binary_name}}

          - target: aarch64-apple-darwin
            os: macos-latest
            platform: macos
            arch: arm64
            name: {{binary_name}}

          - target: x86_64-pc-windows-msvc
            os: windows-latest
            platform: windows
            arch: x86_64
            name: {{binary_name}}.exe

          - target: aarch64-pc-windows-msvc
            os: windows-latest
            platform: windows
            arch: arm64
            name: {{binary_name}}.exe

    steps:
      - name: Set up Rust
        uses: dtolnay/rust-toolchain@stable
        with:
          targets: {% raw %}${{ matrix.target }}{% endraw %}

      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Build
        run: |
          cargo build --release --locked --target {% raw %}${{ matrix.target }}{% endraw %}

      - name: Prepare Artifacts
        env:
          VERSION: {% raw %}${{ needs.version.outputs.version }}{% endraw %}
        run: |
          cd target/{% raw %}${{ matrix.target }}{% endraw %}/release
          tar czvf ../../../{{binary_name}}-{% raw %}${{ env.VERSION }}-${{ matrix.platform }}-${{ matrix.arch }}.tar.gz ${{ matrix.name }}{% endraw %}
          cd -

      - name: Upload Built Binaries
        uses: actions/upload-artifact@v3
        env:
          VERSION: {% raw %}${{ needs.version.outputs.version }}{% endraw %}
        with:
          name: {{binary_name}}-{% raw %}${{ env.VERSION }}-${{ matrix.platform }}-${{ matrix.arch }}.tar.gz{% endraw %}
          path: {{binary_name}}-{% raw %}${{ env.VERSION }}-${{ matrix.platform }}-${{ matrix.arch }}.tar.gz{% endraw %}

  release:
    name: GitHub Release
    runs-on: ubuntu-latest
    needs:
      - build

    permissions:
      contents: write

    if: github.event_name == 'push' && contains(github.ref, 'refs/tags/')

    steps:
      - name: Get Built Binaries
        uses: actions/download-artifact@v3

      - name: Calculate Checksums
        run: |
          mkdir -p ./tarballs
          cp {{binary_name}}-*/{{binary_name}}-* ./tarballs
          cd tarballs
          shasum -a 256 * > ../checksums.txt

      - name: Publish Draft Release
        env:
          GH_TOKEN: {% raw %}${{ secrets.GITHUB_TOKEN }}{% endraw %}
        run: |
          {% raw %}DRAFT_RELEASE_TAG=$(gh api repos/${{ github.repository }}/releases --jq '.[] | select(.draft==true) | .tag_name')
          gh release edit $DRAFT_RELEASE_TAG --draft=false --latest --tag ${{ github.ref_name }} --title ${{ github.ref_name }} --repo ${{ github.repository }}
          gh release upload ${{ github.ref_name }} --repo ${{ github.repository }}{% endraw %} tarballs/* checksums.txt

  cargo_publish:
    name: Publish Crate
    runs-on: ubuntu-latest
    needs:
      - release

    if: github.event_name == 'push' && contains(github.ref, 'refs/tags/')

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Set up Rust
        uses: dtolnay/rust-toolchain@stable

      - name: Publish
        run: cargo publish --token {% raw %}${{ secrets.CARGO_TOKEN }}{% endraw %}
